body {
    background-image: url("3.jpeg");
    background-size: cover;
    background-repeat: repeat;
    background-attachment: scroll;
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

.navbar {
    background-color: #333;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
}

.navbar a {
    font-size: 16px;
    color: rgb(217, 216, 216);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar a:hover {
    background-color: #dddddd;
    color: rgb(172, 29, 29);
}

.navbar-text {
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
}

h1 {
    font-family: 'Cursive', sans-serif;
    color: #010d15;
    font-weight: 1000;
    font-style: italic;
}

hr {
    border: 2px solid #1b0145;
}

a {
    text-decoration: none;
    color: #af0808;
}

a:hover {
    color: #E74C3C;
}
p{
    padding-left: 2rem;
    justify-content: space-between;

}
.flex-container {
    display: contents;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.dropdown {
    position: relative;
    display: inline-block;
    padding-left: 3%;
    margin-right: 10px;
}

.dropbtn {
    background-color: #031625;
    color: #ffffff;
    border: none;
    cursor: pointer;
    padding: 10px 10px;
    justify-content: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

pre {
    margin: 40px;
}
 

.contact {
	height: 110vh;
	position: relative;
}

.contact {
  	background-color: var(--primary);
}

.about,
.plans,
.company,
.newsletter,
.location {
  	background-color: var(--primary-light);
}

.bottom {
  	background-color: black;
}

/* Tampilan pada layar kecil (misalnya ponsel) */
@media screen and (max-width: 600px) {
    .navbar {
        flex-direction: column;
    }
    .navbar a {
        font-size: 14px;
        padding: 10px;
    }
    /* Tambahkan perubahan lain sesuai kebutuhan */
}

/* Tampilan pada layar sedang (misalnya tablet) */
@media screen and (min-width: 601px) and (max-width: 1024px) {
    /* Atur ulang beberapa properti CSS */
}

/* Tampilan pada layar besar (misalnya desktop) */
@media screen and (min-width: 1025px) {
    /* Atur ulang beberapa properti CSS */
}
